{% if is_home_page is defined and is_home_page %}
	{% set home = true %}
{% else %}
	{% set home = false %}
{% endif %}
<div class="{% if home %}home-jumbotron {% endif %}bg-white jumbotron jumbotron-fluid">
	{% if home %}
		<h1 class="jumbotron-title text-center text-uppercase text-primary">Snowtricks</h1>
		<p class="lead text-center text-bold">La communauté francophone dédiée au Snowboard</p>
	{% elseif category is defined %}
		<div class="container-fluid px-0">
			<div class="row mx-0">
				<div class="category-img-container px-0 col-30 col-lg-15">
					<img src="{{ asset(getImage("cat-img.jpg")) }}" alt="" class="img-fluid">
				</div>
				<div class="px-5 col-30 col-lg-15 d-flex flex-column justify-content-center py-5">
					<h1 class="jumbotron-title text-uppercase text-primary">{{ category.title }}</h1>
					<p class="lead pb-3 border-bottom">{{ category.description }}</p>
				</div>
			</div>
		</div>
	{% else %}
		<h1 class="jumbotron-title text-center text-uppercase text-primary">Tous les tricks</h1>
	{% endif %}
</div>