{% extends "base.html.twig" %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block body %}
    {% include '_partials/_messages.html.twig' %}
    {% include "_partials/_page-header.html.twig" %}

    <div class="container">
        <h2>Derniers Tricks Ajoutés</h2>
        <div class="row">
            {% for trick in tricks %}
                {% include "_partials/_trick-miniature.html.twig" %}
            {% endfor %}
        </div>
    </div>


{% endblock %}