{% extends "base.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}
{% block nav_classes %}js-sticky-header{% endblock %}
{% block container_classes %}{% endblock %}

{% block body %}
    {% include '_partials/_messages.html.twig' %}
    {% include '_partials/_listing-page-header.html.twig' %}

    <div class="container">
        <div id="js-tricks-container" class="row">
            {% include "_partials/_listing.html.twig" %}
        </div>

        {% if loadmoreBtn is defined and loadmoreBtn == true %}
            <div class="text-center py-5">
                <button id="js-load-more-btn" class="btn btn-outline-primary btn-lg" data-load="trick">Voir plus de tricks</button>
            </div>
        {% endif %}
    </div>

    {% include "_partials/_ajax-loader.html.twig" %}

{% endblock %}

{% block add_stylesheets %}
    {{ encore_entry_link_tags('loadmore') }}
{% endblock %}

{% block add_javascripts %}
    {{ encore_entry_script_tags('loadmore') }}
{% endblock %}