{% extends "base.html.twig" %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="container">
        <h2>Derniers Tricks Ajoutés</h2>
        <div class="row">
            {% for trick in tricks %}
                {% include "_partials/trick-miniature.html.twig" %}
            {% endfor %}
        </div>
    </div>


{% endblock %}