{% extends "base.html.twig" %}

{% block title %}
    {{ category.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ category.title }}</h1>
        <p>{{ category.description|nl2br }}</p>

        <div class="row">
            {% for trick in tricks %}
                {% include "_partials/_trick-miniature.html.twig" %}
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(tricks) }}
        </div>
    </div>

{% endblock %}