@import "components/variables";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~typeface-poppins/index.css";
@import "components/nav";
@import "components/embed-videos";
@import "components/commons";
@import "components/jumbotron";
@import "components/bootstrap_overrides";
@import "components/trick_show";
@import "components/chat_messages";

.messages {
  position: absolute;
  width: 100%;
  z-index: 1;

  .alert {
    margin-bottom: 0;
  }
}





