@import "variables";
@import "mixins";

.chat-messages {
  .chat-messages-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    .chat-message {
      @include media-breakpoint-up(md) {
        width: 90%;
      }

      &.is-mine {
        border-color: transparent;
        background: $primary;
        color: $white;
        text-align: right;
        align-self: flex-end;
      }
    }
  }

  .card {
    padding: 0px;

    p {
      margin-bottom: 5px;
    }
  }
}
