@import "_variables.scss";

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: $dark;
  font-size: $font-size-base;
}

.transition-300 {
  transition-duration: $transition-duration;
}