@import "~select2/dist/css/select2.css";
@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css";
@import "~dropzone/dist/dropzone.css";
@import "variables";
@import "mixins";

.dropzone {
  @extend .border;
  border-radius: $border-radius;
}

.dropzone .dz-preview .dz-image {
  display: flex;
  justify-content: center;

  img {
    max-height: 100%;
  }
}

#videos-fields-list {
  .trick-video-field {
    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .form-group:first-child {
        //width: 300px;
        margin-right: 10px;
      }
    }
  }
}

textarea {
  min-height: 150px;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  border-radius: 300px;
  max-width: 200px;

  @include box-shadow-down;

  &.small {
    max-width: 75px;
  }
}

//.select2-container {
//  width:100% !important;
//}



