@import "~bootstrap/scss/mixins/_breakpoints";
@import "variables";

.jumbotron {
  background-size: cover;
  padding: 0;

  .jumbotron-title {
    font-weight: bold;
    font-size: 2rem;
  }

  .lead {
    font-size: $font-size-base
  }

  @include media-breakpoint-up(md) {
    .jumbotron-title {
      font-size: 2.5rem;
    }
  }

  &.home-jumbotron {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url('../../img/home-bg.jpg') center;
    background-size: cover;
    padding: 8rem 2rem;

    @include media-breakpoint-up(md) {
      padding: 13rem 2rem;
    }
  }
}

