@import "mixins";
@import "variables";

.main-navbar {
  .user-dropdown {
    left: -100px;
  }
}

.nav-item {
  text-transform: uppercase;
}

.sticky-header {
  transition-duration: $transition-duration;
  background: transparent;

  &.is-sticked {
    background: $white;
    @include box-shadow-down
  }

  &.text-white-until-sticky:not(.is-sticked) {
    .nav-link {
      color: $white;
    }
  }
}
