@import "mixins";
@import "variables";

.main-navbar {
  .user-dropdown {
    left: -100px;
  }
}

.sticky-header {
  transition-duration: 200ms;
  background: transparent;

  &.is-sticked {
    background: $white;
    @include box-shadow-down
  }
}
