$container-max-widths: (
        sm: 540px,
        md: 900px,
        lg: 960px,
        xl: 1440px
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1440px
);

$grid-columns: 30;

$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;


$primary: #134074;
$secondary: #13315C;
$success: #44AF69;
$info: #FF9505;
$warning: #F0C808;
$danger: #A30000;
$light: #8DA9C4;
$lighter: #EEF4ED;
$dark: #0B2545;
$white: #FFFFFF;
$black: #000004;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-xl: $font-size-base * 1.75;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;

$transition-duration: 200ms;
