$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1280px
);

$primary: #3784A7;
$secondary: #F77F00;
$success: #95C623;
$info: #009B72;
$warning: #F0C808;
$danger: #DD1C1A;
$light: #B3D2B2;
$dark: #2A2D34;