$container-max-widths: (
        sm: 540px,
        md: 900px,
        lg: 960px,
        xl: 1440px
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1440px
);

$grid-columns: 30;


$primary: #3784A7;
$secondary: #F77F00;
$success: #95C623;
$info: #009B72;
$warning: #F0C808;
$danger: #DD1C1A;
$light: #B3D2B2;
$dark: #2A2D34;