<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block add_stylesheets %}{% endblock %}
</head>

<body>
<nav class="main-navbar navbar navbar-expand-lg {% block nav_classes %}{% endblock %}">
    {% block nav %}
        {% include "_partials/_nav.html.twig" %}
    {% endblock %}
</nav>

<div class="{% block container_classes %}{% endblock %}">
    {% block messages %}{% endblock %}
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block add_javascripts %}
    {{ encore_entry_script_tags('forms') }}
{% endblock %}
</body>
</html>
