<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block nav %}
    {% include "_partials/nav.html.twig" %}
{% endblock %}

{% block messages %}{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}


    {% if enableListingJS is defined and enableListingJS == true %}
        {{ encore_entry_script_tags('listing') }}
    {% endif %}

    {% if enableFormsJS is defined and enableFormsJS == true %}
        {{ encore_entry_script_tags('forms') }}
    {% endif %}
{% endblock %}
</body>
</html>
