{% extends "base.html.twig" %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block messages %}
    {% include "_partials/messages.html.twig" %}
{% endblock %}

{% block body %}
    {% include "_partials/page-header.html.twig" %}

    <div class="container py-3">
        <a href="{{ path("admin.trick.new") }}" class="btn btn-primary"><span class="fa fa-plus"></span> Créer un
            nouveau Trick</a>
        <a href="{{ path("admin.category.index") }}" class="btn btn-outline-primary"><span class="fa fa-object-group"></span> Gérer les catégories</a>


        <div class="row">
            {% for trick in tricks %}
                {% include "admin/_partials/trick-miniature.html.twig" %}
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(tricks) }}
        </div>
    </div>
{% endblock %}