{% extends 'base.html.twig' %}
{% block nav_classes %}js-sticky-header left-navbar-white-until-sticky hamburger-white-until-sticky{% endblock %}
{% block container_classes %}{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% include '_partials/_messages.html.twig' %}
        <div class="row min-h-85-vh">
            <div class="col-30 col-lg-15 col-xl-12 bg-form max-h-100-vh"></div>
            <div class="col-30 col-lg-15 col-xl-18 d-flex align-items-center">
                <div class="p-lg-5 {% block add_classes_form %}{% endblock %}">
                    {% block avatar %}{% endblock %}
                    <h1 class="text-uppercase">{% block formtitle %}{% endblock %}</h1>
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_javascripts %}
    {{ encore_entry_script_tags('forms') }}
{% endblock %}