{% extends "base.html.twig" %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block body %}
    {% include "_partials/page-header.html.twig" %}

    <div class="container">
        <div class="row">
            {% for trick in tricks %}
                {% include "_partials/trick-miniature.html.twig" %}
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(tricks) }}
        </div>
    </div>


{% endblock %}