{% extends "base.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}

{% block messages %}
    {% include "_partials/_messages.html.twig" %}
{% endblock %}

{% block nav_classes %}
    {% if category is defined %}left-navbar-white-until-sticky{% endif %}
{% endblock %}
{% block container_classes %}{% if category is not defined %}js-header-offset{% endif %}{% endblock %}

{% block body %}
    {% include "_partials/_listing-page-header.html.twig" %}

    <div class="container">
        <div id="js-tricks-container" class="row">
            {% include "_partials/_listing.html.twig" %}
        </div>

        {% if loadmoreBtn is defined and loadmoreBtn == true %}
            <div class="text-center py-5">
                <button id="js-load-more-btn" class="btn btn-outline-primary btn-lg" data-load="trick"
                        {% if category is defined %}data-category="{{ category.id }}{% endif %}">Voir plus de tricks
                </button>
            </div>
        {% endif %}
    </div>

    {% include "_partials/_ajax-loader.html.twig" %}

{% endblock %}

{% block add_stylesheets %}
    {{ encore_entry_link_tags('loadmore') }}
{% endblock %}

{% block add_javascripts %}
    {{ encore_entry_script_tags('loadmore') }}
{% endblock %}