{% extends "base.html.twig" %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block body %}
    {% include "_partials/_page-header.html.twig" %}

    <div class="container">
        <div id="js-tricks-container" class="row">
            {% include "_partials/_listing.html.twig" %}
        </div>

        <div class="text-center">
            <button id="js-load-more-btn" class="btn btn-primary">Voir plus</button>
        </div>
    </div>

{% endblock %}

{% block add_javascripts %}
    {{ encore_entry_script_tags('loadmore') }}
{% endblock %}